body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    /* background-color: #eee3f9; */
    background-color: black;
    font-family: 'Arial', sans-serif;
}

.container {
    text-align: center;
    height: 100%;
    width: 100%;
}

.header_text {
    font-size: 3em;
    color: #d32f2f;
}

.gif_container img {
    width: 60%;
    /* max-width: 500px;  */
    /* height: auto;  */
}

/* .gif_container .yes-gif {
  border: solid #301c57 0.5rem;
} */

